body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #727272;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}


.register-container {
    background-color: rgb(255, 255, 255);
    padding: 25px;

    box-shadow: 2px 2px 10px #ffffff;
    width: 450px;
    text-align: center;
}

.register-container h2 {
    margin-bottom: 15px;
    color: #09992f;
}

.register-container input,
.register-container select {
    
    width: 90%;
    padding: 12px;
    margin: 9px 0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-radius: 6px;
    font-size: 16px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    align-items: center;
    cursor: pointer;
    
}
.register-container button {
    margin: 8px 0;
    background: #1d7707;
    color: white;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.register-container {
    --border-size: 3px;
    --border-angle: 0turn;
    width: 500px;
    background-image: conic-gradient(from var(--border-angle), #ffffff, #ffffff 50%, #ffffff), conic-gradient(from var(--border-angle), transparent 20%, rgb(3, 207, 20), rgb(0, 0, 0));
    background-size: calc(100% - (var(--border-size) * 2)) calc(100% - (var(--border-size) * 2)), cover;
    background-position: center center;
    background-repeat: no-repeat;
    animation: bg-spin 3s linear infinite;
    animation: bg-spin 3s linear infinite;
  }
  @-webkit-keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  @keyframes bg-spin {
    to {
      --border-angle: 1turn;
    }
  }
  .box:hover {
    animation-play-state: paused;
    animation-play-state: paused;
  }
  
  @property --border-angle {
    syntax: "<angle>";
    inherits: true;
    initial-value: 0turn;
  }

.register-container button:hover {
    background: #165906;
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 8px;
}

.message-container {
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.message-container p {
    font-size: 20px;
    font-weight: bold;
}

.timer {
    font-size: 24px;
    color: #4CAF50;
}



@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}